//
// Navbar
//

#mainNav {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    border: none;
    background-color: #F9F7F8;

    .navbar-toggler {

        padding: 0.75rem;
        font-size: 0.75rem;
        font-family: $headings-font-family;
        text-transform: uppercase;
        font-weight: $font-weight-bold;
        color: #848283;
    }

    .navbar-brand {
        color:#000;
        font-family: $headings-font-family;
        font-weight: $headings-font-weight;
        letter-spacing: $headings-letter-spacing;
        text-transform: uppercase;

        img {
            height: 1.5rem;
        }
    }

    .navbar-nav {
        .nav-item {
            .nav-link {
                font-family: $font-family-base;
                font-size: 0.95rem;
                color: #848283;
                letter-spacing: $headings-letter-spacing;
                // &.active,
                // &:hover {
                //     color: $primary;
                // }
            }
        }
    }
}

@include media-breakpoint-up(xs) {
    #mainNav {
        background-color: #F9F7F8;
        .navbar-brand {
            img {
                height: 2.7rem;
                transition: height 0.3s ease-in-out;
            }
        }
    }
}

// Responsive styling for screen width equal to or greater than the large breakpoint
@include media-breakpoint-up(lg) {
    #mainNav {
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
        border: none;
        background-color: #F9F7F8;
        transition: padding-top 0.3s ease-in-out,
            padding-bottom 0.3s ease-in-out;

        .navbar-brand {
            font-size: 1.5em;
            transition: font-size 0.3s ease-in-out;

            img {
                height: 3.5rem;
                transition: height 0.3s ease-in-out;
            }
        }

        // Styling for when the navbar shrinks on larger screens
        &.navbar-shrink {
            // padding-top: 1rem;
            // padding-bottom: 1rem;
            // background-color: $gray-900;

            .navbar-brand {
                font-size: 1.25em;

                svg,
                img {
                    height: 2.5rem;
                }
            }
        }

        .navbar-nav .nav-item {
            margin-right: 1rem;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}
