//
// Colors
//

// Override Bootstrap color variables

$yellow: #ffc800;
$custom2: #F9F7F8;
// Override Bootstrap state colors variables

$primary: $yellow;

// Override Bootstrap contrast ratio

$min-contrast-ratio: 1.5;
